{% extends "layout.html" %}
{% block content %}
<body ng-app="dadafund">
    <div class="container" ng-controller="account" ng-init="userName='user';getUser();">
        <br>
        <div class="text-center"><img src="images/dadafund_logo.png" class="img-responsive" alt="DaDaFund" width=150 style="margin:0 auto;"></div>
        <h3 class="text-center">Welcome, {[{userName}]}!</h3>
        <div class="text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm">View saved cards</button>
                <button type="button" class="btn btn-default btn-sm">Log out</button>
            </div>
        </div>
        <hr ng-init="getTransactions()">
        <div class="well" id="transactionlist">
            <p class="text-center">No data found.</p>
        </div>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
    <br>
    <br>
    <br>
    <div id="footer" onclick="window.location='https://twitter.com/thedustmakers';"></div>
</body>
{% endblock %}